<ng-container>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
        <th>Status</th>
      </tr>
    </thead>
    {{
      todos$ | async | json
    }}
    <tbody>
      <tr>
        <td>todo.name</td>
        <td>
          <button type="button" class="btn btn-outline-info" (click)="onEdit()">
            Edit</button
          >&nbsp;
          <button type="button" class="btn btn-outline-danger">Delete</button>
        </td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #loading>Loading data...</ng-template>
